<div class="container mt-5">
    <h2>User Details</h2>
    <div class="row">
      <div class="col-md-3">
        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="avatar-md rounded-circle img-thumbnail" />
    </div>
    <div class="col-md-6">
        <p><strong>Name:</strong> {{details?.name}}</p>
        <p><strong>Email:</strong> {{details?.email}}</p>
        <p><strong>Contact Number:</strong> {{details?.contactNo}}</p>
        <p><strong>Status:</strong> {{details?.status}}</p>
        <p><strong>Address:</strong> {{details?.description}}</p>
      </div>
    </div>
  </div>